body {
  display: flex;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  background-color: rgb(55, 4, 236);
  color: whitesmoke;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-family: fantasy;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.356);
  transition: transform 0.5s ease;
}

.box:hover {
  transform: rotate(45deg);
}
