body {
  margin: 20px;
  padding: 20px;
  background-color: rgb(252, 242, 242);
}

.container {
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: sans-serif;
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-family: serif;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: serif;
}

.error-message {
  color: rgb(209, 75, 75);
  font-size: 14px;
  display: none;
  margin-bottom: 10px;
}

/* Exibindo a mensagem de erro quando o campo é inválido */
input:invalid + .error-message,
textarea:invalid + .error-message {
  display: block;
}

button {
  padding: 10px 10px;
  margin: 10px;
  display: block;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  background-color: #291ab3;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #2689eb;
}
