body {
  margin: 0;
  padding: 20px;
  background-color: whitesmoke;
  display: flex;
  min-height: 85vh;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 25px;
}

button {
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(41, 11, 214);
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  cursor: pointer;
  transition: transfor 0.5s;
}

button:hover {
  background-color: blue;
}

/* Classe que aplica o efeito de distorção ao botão */
.skew {
  transform: skew(20deg); /* Distorce o botão em 20 graus */
}
