body {
  background-color: whitesmoke;
  margin: 0;
  padding: 20px;
}
.container {
  background-color: white;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
