body {
  background-color: #eedfd0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px;
  padding: 10px;
  text-align: center;
  justify-items: center;
}

.container {
  box-sizing: content-box;
  background-color: aliceblue;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.minha-tabela {
  border-spacing: 3px;
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

.minha-tabela th {
  background-color: rgb(54, 54, 54);
  color: aliceblue;
  border: 1px solid black;
}

.minha-tabela td {
  padding: 10px; /* Espaçamento interno */
  border: 1px solid #ddd; /* Borda */
}
